<div class="container">
  <div class="row">
    <form class="col-sm-6 form-inline mt-3">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputSearch" placeholder="Search..." [(ngModel)]="srchAlbm" name="inputSearch">
      </div>
      <button type="submit" class="btn btn-primary mb-2" (click)="displayAlbum()">Search Album</button>
    </form>
    <div class="form-group col-sm-6 mt-3">
      <label>Order by Name:</label>
      <select class=" ml-2 custom-select w-auto" [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>    
        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
      </select>
    </div>

  </div>

  <div class="row">
    <div [hidden]="!albmFound">
      <h5 class="card-title text-center">Album Found</h5>
      <div class="card mt-5 shadow p-3 mb-5 bg-white rounded" *ngFor="let album of dispAlbm">
        <div class="card-body d-flex justify-content-between">
          <p class="font-weight-bold font-italic">{{ album }}</p>
          <a href="#" class="btn btn-primary">Click</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div [hidden]="albmFound">
      <div class="card mt-5 shadow p-3 mb-5 bg-white rounded" *ngFor="let album of albumArray">
        <div class="card-body d-flex justify-content-between">
          <h5 class="card-title">Album Name: </h5>
          <p class="font-weight-bold font-italic">{{ album.title }}</p>
          <a href="#" class="btn btn-primary">Click</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row" [hidden]="albmFound">
    <ul class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between card" *ngFor="let album of albumArray">
          <h5 class="mb-1">Album Name</h5>

          <p class="mb-1">{{album.title}}</p>
        </div>

      </a>
    </ul>
     <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th class="text-center">User ID</th>
          <th class="text-center">ID</th>
          <th class="text-center">Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of albumArray">
          <td class="text-center" style="width: 15px;">{{album.userId}}</td>
          <td class="text-center" style="width: 15px;">{{album.id}}</td>
          <td class="text-center" style="width: 200px;">{{album.title}}</td>
        </tr>
      </tbody>
    </table> 
</div> -->

</div>